.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    
  }
  
  .project-card {
    border-radius: 0.65rem;
     border: 1.5px solid #0fff;
     padding:2.5rem;
     text-align:center;
     background: rgba(22,17,47,0.398);
     backdrop-filter: blur(1rem);
     position: relative;
     cursor: pointer;
     transition:all 0.3s ease;
  }
  
  .project-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 1.5px  solid #0fff;
  }
  
  .project-links a {
    margin-right: 10px;
  }
  