.card {
  flex: 0 0 calc(50% - 20px); /* Adjust card width for smaller screens */
  background-color: #0000ff;
  padding: 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
  box-sizing: border-box;
  transition: transform 0.3s ease; /* Smooth transition on hover */


  @media (max-width: 768px) {
    flex: 0 0 calc(100% - 20px); /* Full width for smaller screens */
    margin-bottom: 1rem; /* Add some margin between cards */
  }

  &:hover {
    transform: translateY(-5px); /* Optional: Add hover effect */
  }
}

.card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 0.85rem;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 1rem;
}

.card img {
  width: 100%;
  height: auto; /* Ensure image height adjusts proportionally */
  object-fit: cover;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

.btn-container button {
  font-size: 0.92rem;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(90deg, #0093ff 0%, #005cff 100%);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

