.contact-form-content {
    width: 100%;
    display: flex;
    justify-content: center;

  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem; /* Corrected 'grid-gap' to 'gap' for flexbox */
    width: 100%; /* Ensuring the form spans the full width */
    max-width: 400px; /* Adjust max-width as needed */
  }
  
  .name-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  
  form input,
  form textarea {
    width: 100%; /* Set input width to 100% of parent (form) */
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 0.6rem;
    outline: none;
    border: 2px solid #e401fe;
  }
  
  form button {
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
    border: 1.5px solid #a892fe;
    border-radius: 0.6rem;
    background: linear-gradient(90deg, #a892fe 0%, #8064e8 100%);
    padding: 0.7rem;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  form button:hover {
    color: #a892fe;
    background: transparent;
  }
  